*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    max-width: 900px;
    margin: 2rem auto; 
    padding: 0 1rem;

    section{
        margin-bottom: 2rem;
        width: 50em;
    }
} 



